@font-face {
    font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: 'Metropolis-Medium';
    src: url(../fonts/Metropolis-Medium.otf);
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url(../fonts/Metropolis-SemiBold.otf);
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url(../fonts/Metropolis-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Metropolis';
    font-size: 14px;
    background-color: #ffffff;
}

/* Home/index */
.text-logo {
    font-size: 20px;
    color: #32C33B;
    font-weight: bold;
    text-decoration: none;
}

.text-logo:hover {
    color: #32C33B;
}

.brand-logo {
    height: 35px;
    width: 31.54px;
}

.border-grey {
    border: 1px solid #9B9B9B;
}

.border-dashed {
    border-style: dashed !important;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #9B9B9B;
}

.form-control {
    border: 1px solid #9B9B9B;
}

.form-check-input:checked {
    background-color: #32C33B;
}

.form-check-input:focus {
    box-shadow: none;
}

.rounded-pill-start {
    border-radius: 50rem 0rem 0rem 50rem !important;
}

.rounded-pill-end {
    border-radius: 0rem 50rem 50rem 0rem !important;
}

.btn-filter {
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 4px;
}

.btn-icon {
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.home-search>input {
    border: 1px solid #9B9B9B;
}

.home-search>input:focus {
    border: 1px solid #9B9B9B;
}

.home-search>span {
    border: 1px solid #9B9B9B;
}

.button-auth {
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.button-auth-active {
    background-color: #32C33B;
    border: 1px solid #32C33B;
    color: white;
}

.button-auth-active:hover {
    background-color: #2AA952;
    border: 1px solid #2AA952;
    color: white;
}

.button-auth:hover {
    border: 1px solid #32C33B;
    color: #ffffff;
    background-color: #32C33B;
}

.button-auth:focus {
    box-shadow: none;
}


.btn-green {
    background-color: #32C33B;
    color: white;
}

.btn-green:hover {
    color: #32C33B;
    background-color: #2AA952;
    border: 1px solid #32C33B;
    color: white;
}

.btn-hover {
    border: 1px solid #9B9B9B;
}

.btn-hover:hover {
    background-color: #32C33B;
    color: white;

}

.btn-outline {
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
}

.btn-outline:hover {
    background-color: #32C33B;
    color: white;
}

.btn-red {
    background-color: #D84242;
}

.btn-red:hover {
    color: #D84242;
    background-color: #D84242;
}

.btn-black {
    background-color: #1A1A1A;
}

.btn-black:hover {
    color: #1A1A1A;
    background-color: #1A1A1A;
}

.btn-blue {
    background-color: #4290D8;
}

.btn-blue:hover {
    color: #2185e2;
    background-color: #4290D8;
}

.bg-red {
    background: #CC0B04;
}

.bg-blue {
    background: #1C3391;
}

.bg-light-blue {
    background-color: #456BF3;
}

.bg-green {
    background: #57CD9E;
}

.bg-orange {
    background: #F67B02;
}

.bg-dark-orange {
    background: #F36F45;
}

.bg-pink {
    background: #E31F51;
}

.bg-grey {
    background: #D4D4D4;
}

.text-green {
    color: #32C33B !important;
}

.text-black {
    color: #000000 !important;
}

.text-red {
    color: #CC0B04 !important;
}

.mt-5 {
    margin-top: 100px !important;
}

/* Home/index */

/* Custom flex item */

.d-flex {
    box-sizing: border-box;
}

.flex-item {
    margin-left: 6px;
    margin-right: 6px;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .flex-item {
        margin-left: 6px;
        margin-right: 6px;
        width: 160px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .flex-item {
        margin-left: 10px;
        margin-right: 10px;
        width: 212px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .flex-item {
        margin-left: 10px;
        margin-right: 10px;
        width: 200px;
        margin-bottom: 20px;
    }
}

/* Custom flex item */


/* Products */
.header-product {
    /* mobile cut font size sebesar 30% untuk font size di atas 30px */
    font-weight: bold;
    font-size: 23.8px;
    color: black;
    margin-left: 10px;
}

.header-product-text {
    font-size: 12px;
    font-weight: normal;
    color: #9B9B9B;
    margin-left: 10px;
}

.card-product-title {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.card-product-title:hover {
    color: black;
}


.card-product-price {
    font-size: 16px;
    color: #DB3022;
}

.card-product-brand {
    font-size: 12px;
    color: #9B9B9B;
}

.list-rating-product {
    justify-content: start;
    display: flex;
    list-style-type: none;
}

@media (min-width: 576px) {

    /*cut font size sebesar 25% untuk font size di atas 30px */
    .header-product {
        font-size: 25.5px;
    }
}

@media (min-width: 768px) {

    /* cut font size sebesar 20% untuk font size di atas 30px */
    .header-product {
        font-size: 27.2px;
    }
}

@media (min-width: 992px) {
    .header-product {
        font-size: 34px;
    }
}