@font-face {
    font-family: "metropolis";
    src: url("../fonts/Metropolis-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "metropolis";
}

body {
    background: #E5E5E5;
}